<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shisigui.jinmuyan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/NotitleTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"

            android:theme="@style/MainTheme">
        </activity>
        <activity
            android:name=".activity.PictureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"

            android:theme="@style/MainTheme">
        </activity>

        <meta-data
            android:name="com.shisigui.jinmuyan.view.GlideConfiguration"
            android:value="GlideModule"/>
        <meta-data android:value="59be55e87f2c74546a000024" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Channel" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>